<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/alumnos/chavez">Chavez Gonzalo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/alumnos/garcia">Garcia Karen</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/alumnos/liberos">Liberos Angel</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/alumnos/lopez">Lopez Luis</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/alumnos/pinia">Piña Cristopher</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/alumnos/trujillo">Trujillo Misael</a>
  </li>
</ul>
<br>
<h1>Apartado 4</h1>
<h2>Lista de los integrantes del equipo</h2>
