<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/">Inicio</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Teoria Básica Sistemas de Información</a>
    <div class="dropdown-menu">
	  <a class="dropdown-item" href="/apartados/apartado1/componentes_basicos_de_un_si">Componentes Básicos de un Sistema de Información</a>
      <a class="dropdown-item" href="/apartados/apartado1/definiciones_basicas">Definiciones Básicas</a>
      <a class="dropdown-item" href="/apartados/apartado1/informacion_util">Información Útil</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Definiciones</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/apartados/apartado2/TPS">Sistemas de Información Transaccionales (TPS)</a>
      <a class="dropdown-item" href="/apartados/apartado2/CRM">Sistemas de Información de Gestión de Relaciones con los Clientes (CRM)</a>
      <a class="dropdown-item" href="/apartados/apartado2/MIS">Sistemas de Información Gerencial (MIS)</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">SCRUM</a>
    <div class="dropdown-menu">
	  <a class="dropdown-item" href="/apartados/apartado3/que_es_scrum">¿Qué es SCRUM?</a>
      <a class="dropdown-item" href="/apartados/apartado3/metodologia_agil">Metodología Ágil</a>
      <a class="dropdown-item" href="/apartados/apartado3/roles">Roles que se manejan</a>
  	  <a class="dropdown-item" href="/apartados/apartado3/herramientas_scrum">Herramientas</a>
    </div>
  </li>
</ul>
<br>
<h1>Lista de Apartados del proyecto</h1>
<h2>
	<ol>
		<li>Teoria Básica Sistemas de Información</li>
		<li>Definiciones</li>
		<li>SCRUM</li>
	</ol>
</h2>
