<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/apartados">Apartados</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/alumnos">Alumnos</a>
  </li>
</ul>
<br>
<h1>Proyecto Final Sistemas de Información</h1>
<h3>Grupos: 2808 y 2810</h3>
