
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="/">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/apartados">Apartados</a>
    </li>
  </ul>
  <head>
    <title>{{title}}</title>
    <div class="jumbotron">
      <h1> Herramientas SCRUM</h1>
    </div>
  </head>
  <body>
    <div class="row">
      <div class="col-md-4">
        <div class="card bg-info text-white">
          <h2 class="card-title">Análisis FODA</h2>
          <p class="card-text">El análisis o matriz FODA, también conocido en los países hispanohablantes como DAFO o DOFA y en los angloparlantes como SWOT, es una herramienta clave para hacer un análisis pormenorizado de la situación actual de una organización o persona basado en sus Debilidades, Fortalezas y en las Oportunidades y Amenazas que ofrece su entorno.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card bg-info text-white">
          <p class="card-text">Cada una de las siglas de un análisis FODA o DAFO representa a cada uno de los 4 atributos o variables que se estudian: F de Fortalezas, D de Debilidades, O de Oportunidades y A de Amenazas.
La forma visual de un análisis FODA o DAFO es una matriz de cuatro cuadrantes en el que en cada cuadrante se listan  las principales Fortalezas, Oportunidades, Debilidades y Amenazas de la empresa o persona analizada.</p>
          <img class="card-img-top" src="https://i0.wp.com/foda-dafo.com/wp-content/uploads/2017/10/cropped-plantilla-matriz-foda-dafo.jpg?resize=1140%2C1140&ssl=1" alt="..." style="width:100%">
        </div>
      </div>

      <div class="col-md-4">
        <div class="card bg-info text-white">
          <p class="card-text">El FODA ha sido una herramienta clave en la planificación estratégica de todo tipo de empresas, puede también ser utilizado tanto por departamentos dentro de dichas empresas,  como por los líderes de un proyecto,  asociaciones sectoriales, gobernantes de países y cada vez más es utilizada por particulares ante situaciones de toda índole</p>
          <p class="card-text">Esta herramiente define los siguientes pasos para la selección, planificación e implementación  de las acciones más apropiadas en función del análisis realizado y de la estrategia de la empresa.</p>
          <img class="card-img-bottom" src="https://i0.wp.com/foda-dafo.com/wp-content/uploads/2017/10/Todas-las-fases-de-una-Matriz-Foda-o-Dafo.png?w=1042&ssl=1" alt=ImagenSI style="width:100%">
        </div>
      </div>
      <a href="https://foda-dafo.com/" class="btn btn-dark text-white"> Referencia Bibliografica</a>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card bg-info text-white">
          <h2 class="card-title">Sesiones JAD</h2>
          <p class="card-text">Joint Application Design (JAD) Es un proceso usado en el área del ciclo de vida de prototipado del [método de desarrollo de sistemas dinámicos] (DSDM) para reunir requerimientos en el desarrollo de nuevos sistemas de información para una compañía. El proceso JAD también incluye enfoques para la mejora en la participación de los usuarios, agilizar el desarrollo, y mejorar la calidad de las especificaciones. Consiste en un taller donde los trabajadores del conocimiento y los especialistas en tecnologías de información se reúnen, algunas veces durante varios días, para definir y revisar los requerimientos de negocio para el sistema. Los asistentes incluyen oficiales de administración de alto nivel, quienes se aseguran de que el producto provea los reportes y la información requerida al final. Esto actúa como “un proceso de administración” que permite que los departamentos de Servicios de Información Corporativa trabajen más eficientemente con los usuarios en un marco de tiempo más reducido.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-info text-white">
          <p class="card-text">El taller sigue una detallada agenda para lograr garantizar que todas las incertidumbres entre los grupos sean cubiertas y para ayudar a prevenir cualquier falla en la comunicación. Estas fallas de comunicación pueden provocar repercusiones mucho más serias si no se identifican a tiempo. Al final, este proceso resultará en un nuevo Sistema de Información viable y orientado tanto a diseñadores como a usuarios. Aunque el diseño JAD es mundialmente aclamado, se sabe poco sobre su efectividad en la práctica.
          </p>
          <p class="card-text">
          De acuerdo al “Journal os Systems and Software”, un estudio de campo fue realizado en tres organizaciones usando prácticas JAD para determinar cómo resulta un sistema de desarrollo influenciado por JAD. El resultado del estudio sugiere que las organizaciones lograron modestas mejoras en los desarrollo de sistemas usando el método JAD. El uso de JAD fue más efectivo en pequeños y claramente enfocados proyectos y menos efectivo en proyectos largos y complejos
          </p>
        </div>
      </div>




      <div class="col-md-4">
      <div class="card bg-info text-white">
        <h2 class="card-title">Estructura de la técnica JAD</h2>
        <p class="card-text">JAD consta de dos fases: planificación y diseño. Ambas tratan los requisitos, pero adistinto nivel de abstracción. Si bien en planificación se tratan los requisitos a un nivelmás alto, estudiando sobre todo la utilidad y la viabilidad de los mismos, en la fase dediseño se realiza un uso intensivo de prototipos y se diseña la interfaz de usuario, elpresupuesto, la calendarización y el esquema de la base de datos (en caso de que estoúltimo sea aplicable al sistema a tratar). Cada una de estas fases llevaría en torno a entreuno y diez días. No confundir la fase diseño-JAD con la fase de diseño del proyecto;JAD es una técnica que se aplicaría en fase de planificación y análisis
        </p>
      </div>
    </div>
      <a href="https://es.scribd.com/doc/51165046/Que-es-JAD" class="btn btn-dark text-white"> Referencia Bibliografica</a>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card bg-info text-white">
          <h2 class="card-title">Analisi de brecha</h2>
          <p class="card-text">El análisis de brecha (conocido en inglés como Gap Analysis) es una técnica que se utiliza para comparar el estado actual con el estado deseado. En una organización, esto involucra determinar y documentar la diferencia entre las capacidades actuales del negocio y el conjunto final de capacidades deseado. Normalmente, se inicia un proyecto para que una organización alcance una situación deseada, por lo que llevar a cabo un análisis de brecha ayudaría a quienes toman decisiones a determinar la necesidad de un proyecto.
          </p>

        </div>
      </div>

      <div class="col-md-4">
        <div class="card bg-info text-white">
          <p class="card-text">
          Para poder hacer un analisi de brecha se puede recurrir al metodo de Análisis FODA anteriromente mencionado
        </p>
      </div>
    </div>

    </div>
    <a href="https://www.questionpro.com/blog/es/analisis-de-brechas/" class="btn btn-dark text-white"> Referencia Bibliografica</a>
</body>
