
 <ul class="nav nav-pills">
   <li class="nav-item">
     <a class="nav-link active" href="/">Inicio</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="/apartados">Apartados</a>
   </li>
 </ul>
 <head>
   <title>{{title}}</title>
   <div class="jumbotron">
     <h2> Componentes Básicos de un Sistema de Información</h2>
   </div>
 </head>
 <body>
   <div class="row">
     <div class="col-md-4">
       <div class="card bg-info text-white">
         <h4 class="card-title">Entrada</h4>
         <p class="card-text">Conformada con la recopilación y captura de datos al sistema.</p>
         <h5 class="card-title">Ejemplo:</h5>
         <p class="card-text">El registro de las actas de calificaciones en la facultad.</p>
         <p class="card-text">Registro de una acta de escrutinio y cómputo en una elección.</p>
         <p class="card-text">El registro de los montos en una venta de medicamentos en una farmacia.</p>
         <img class="card-img-bottom" src="https://elbigdata.mx/wp-content/uploads/2016/09/amlo.jpg" alt="ImagendeEntrada" style="width:100%">
         <a href="Documento INTRODUCCIÓN de la plataforma" class="btn btn-dark text-white"> Referencia Bibliografica</a>
       </div>
     </div>
     <div class="col-md-4">
       <div class="card bg-info text-white">
         <h4 class="card-title">Procesamiento</h4>
         <p class="card-text">Es realizar operaciones(manual o automatizada) sobre los datos de entrada para extraer la mayor cantidad de informacion útil para la organización.</p>
         <h5 class="card-title">En Donde las Operaciones Incluyen:</h5>
         <p class="card-text">Almacenar para posterior uso.</p>
         <p class="card-text">Cálculos.</p>
         <p class="card-text">Comprar valores.</p>
         <p class="card-text">Realizar acciones alternas.</p>
         <h5 class="card-title">Ejemplo:</h5>
         <p class="card-text">Calcular en una hoja de papel el total de ventas en un mes de un negocio.</p>
         <p class="card-text">Sumar la cantidad de votos para un partido.</p>
         <img class="card-img-top" src="https://portalanterior.ine.mx/Centro_Ayuda_Computos_2017/assets/img/w_suma_votos_candidato.png" alt="ImagenDeProcesamiento" style="width:100%">
         <a href="Documento INTRODUCCIÓN de la plataforma" class="btn btn-dark text-white"> Referencia Bibliografica</a>
       </div>
     </div>
     <div class="col-md-4">
       <div class="card bg-info text-white">
         <h4 class="card-title">Salida</h4>
         <p class="card-text">Conformada por toda la información útil lograda en el procesamiento.</p>
         <p class="card-text">La salida de un sistema puede ser la entrada de otro sistema.</p>
         <h5 class="card-title">Ejemplo:</h5>
         <p class="card-text">El historial académico de un alumno.</p>
         <p class="card-text">El reporte de compras realizadas un día antes. Este puede ser la entrada de un sistema de facturación.</p>
         <p class="card-text">Las gráficas de votos totales en un sistema de conteo.</p>
         <img class="card-img-bottom" src="https://cadenaser00.epimg.net/emisora/imagenes/2016/06/26/radio_valladolid/1466971362_524648_1466976714_noticia_normal.jpg" alt=ImagenDeSalida style="width:100%">
         <a href="Documento INTRODUCCIÓN de la plataforma" class="btn btn-dark text-white"> Referencia Bibliografica</a>
       </div>
      </div>
      <div class="col-md-4">
       <div class="card bg-info text-white">
         <h4 class="card-title">Retroalimentación</h4>
         <p class="card-text">Son los mensajes que emite el sistema para realizar cambios en la entrada o en la lógica de procesamiento.</p>
         <p class="card-text">Un valor de entrada fuera de rangos permitidos, lanza un cuadro de diálogo.</p>
         <p class="card-text">La retroalimentación de un sistema también surge cuando el estado de los datos que se encuentran en procesamiento disparan un evento en el que los administradores del sisteman deben tomar una decisión.</p>
         <h5 class="card-title">Ejemplo:</h5>
         <p class="card-text">El sistema detecta que un producto alcanzó el mínimo de exitencias en inventario y lanza un mensaje(cuadro de dialogo o correo electrónico) para avisar el caso.</p>
         <img class="card-img-bottom" src="https://recursospython.com/wp-content/uploads/2018/08/askokcancel.png" alt=ImagenDeRetroalimentacion style="width:100%">
         <a href="Documento INTRODUCCIÓN de la plataforma" class="btn btn-dark text-white"> Referencia Bibliografica</a>
       </div>
      </div>
    </div>
  </body>
