 
 <ul class="nav nav-pills">
   <li class="nav-item">
     <a class="nav-link active" href="/">Inicio</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="/apartados">Apartados</a>
   </li>
 </ul>
 <head>
   <title>{{title}}</title>
   <div class="jumbotron">
     <h2> Definiciones Básicas en Sistemas de la Información</h2>
   </div>
 </head>
 <body>
   <div class="row">
     <div class="col-md-4">
       <div class="card bg-info text-white">
         <h4 class="card-title">Dato</h4>
         <p class="card-text">Un dato es la representación de una variable que puede ser cuantitativa o cualitativa, indican un valor que se le asigna a las cosas. Los datos son información. </p>
         <p class="card-text">Los datos describen en su conjunto nos hablan de hechos empíricos. Un dato por sí solo no puede demostrar demasiado, siempre se evalúa el conjunto para poder examinar los resultados. </p>
         <p class="card-text"> Para examinarlos, primero hay que organizarlos o tabularlos.</p>
         <img class="card-img-bottom" src="https://image.flaticon.com/icons/png/512/388/388447.png" alt="ImagendeDato" style="width:100%">
         <a href="https://concepto.de/dato/" class="btn btn-dark text-white"> Referencia Bibliografica</a>
       </div>
     </div>
     <div class="col-md-4">
       <div class="card bg-info text-white">
         <h4 class="card-title">Información</h4>
         <p class="card-text">La información está definida como una serie de datos con significado, que organiza el pensamiento de los seres vivos, en especial el de los seres humanos. En sentido general, </p>
         <p class="card-text">la información es un grupo organizado de datos procesados que integran un mensaje sobre un determinado ente o fenómeno; permitiendo que el hombre adquiera el conocimiento necesario para la toma de decisiones en su vida cotidiana.</p>
         <img class="card-img-top" src="https://conceptodefinicion.de/wp-content/uploads/2011/10/Informaci%C3%B3n.jpg" alt="ImagenInformacion" style="width:100%">
         <a href="https://conceptodefinicion.de/informacion/" class="btn btn-dark text-white"> Referencia Bibliografica</a>
       </div>
     </div>
     <div class="col-md-4">
       <div class="card bg-info text-white">
         <h4 class="card-title">Sistemas de Informacion</h4>
         <p class="card-text">Los sistemas de información ayudan a administrar, recolectar, recuperar, procesar, almacenar y distribuir información relevante para los procesos fundamentales y las particularidades de cada organización.</p>
         <p class="card-text">Un sistema de información se caracteriza principalmente por la eficiencia que procesa los datos en relación al área de acción. Los sistemas de información se alimentan de los procesos y herramientas de estadística, probabilidad, inteligencia de negocio, producción, marketing, entre otros para llegar a la mejor solución.</p>
         <img class="card-img-bottom" src="https://conceptodefinicion.de/wp-content/uploads/2015/07/tecnologia-de-la-informacion.jpg" alt=ImagenSI style="width:100%">
         <a href="https://www.significados.com/sistema-de-informacion/" class="btn btn-dark text-white"> Referencia Bibliografica</a>
       </div>
      </div>
    </div>
  </body>
