
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/apartados">Apartados</a>
  </li>
</ul>
<head>
  <div class="jumbotron text-black">
    <h2>Definición de información útil</h2>
  </div>
</head>
<body>
  <div class="row">
    <div class="alert alert-info text-center">
      <h2>Definición:</h2>
    </div>
  </div>
  <div class="row">
    <div class="sm-col-4">
    </div>
    <div class="sm-col-4">
      <div class="card light text-allign">
        <h4> La información útil puede ser externa (la que encontramos en internet) e interna (la que generamos en nuestro contexto). </h4>
        <h4> Si conseguimos, entre todos, aportar información útil, organizarla y utilizarla, estaremos dando un gran paso hacia delante en la gestión del conocimiento, la cooperación y la mejora de la competitividad; todo ello para conseguir hacer mejor nuestro trabajo </h4>
        <h5> Las caracteristicas de la información útil: </h5>
        <h6> Relevante:</h6><p> La informacion debe relacionarse con el problema en cuestión</p>
        <h6> Completa:</h6><p> La informacion debe de estar completa </p>
        <h6> Precisa: </h6><p> La informacion errónea puede conducir a decisiones malas </p>
        <h6> Actual: </h6><p> Las decisiones suelen basarse en la informacion disponible más reciente </p>
        <h6> Economica: </h6><p> El costo de obtener informacion debe considerarse como un elemento del costo relacionado con cualquier decisión </p>
        <img src="https://www.frikko.com/wp-content/uploads/2016/10/2016-OCT-6-PLEXIZ-MAC-HEATWAVE-BLOGPOST-INFORMACION-UTIL-VENTILADORES.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="sm-col-4">
    </div>
  </div>
</body>
