<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/alumnos">Alumnos</a>
  </li>
</ul>
<img src="/images/angel.jpg" class="rounded float-right" width="200">
<br>
<h1>Liberos Sánchez José Angel</h1>
<h3>Número de cuenta: 311031555</h3>
<h3>Correo Electronico: angls2495@gmail.com</h3>
<h3>Semestre: Sexto</h3>
<br><br>
<h3>Facebook: Angel Liberos</h3>
