<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/alumnos">Alumnos</a>
  </li>
</ul>
<img src="/images/cristopher.jpg" class="rounded float-right" width="200">
<br>
<h1>Piña Reyes Cristopher Alan</h1>
<h3>Número de cuenta: 314000510</h3>
<h3>Correo Electronico: cristopher.venom@gmail.com</h3>
<h3>Semestre: Sexto</h3>
<br><br>
<h3>Facebook: Cristopher Alan</h3>
