<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/alumnos">Alumnos</a>
  </li>
</ul>
<img src="/images/gonzalo.jpg" class="rounded float-right" width="200">
<br>
<h1>Chávez Onofre Gonzalo</h1>
<h3>Número de cuenta: 418109979</h3>
<h3>Correo Electronico: chavezgco@gmail.com</h3>
<h3>Semestre: Cuarto</h3>
<br><br>
<h3>Facebook: Gonzalo Chávez</h3>
