<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/alumnos">Alumnos</a>
  </li>
</ul>
<img src="/images/karen.jpg" class="rounded float-right" width="200">
<br>
<h1>García Sánchez Ana Karen</h1>
<h3>Número de cuenta: 417019312</h3>
<h3>Correo Electronico: bigbang521.62@gmail.com</h3>
<h3>Semestre: Sexto</h3>
<br><br>
<h3>Facebook: Karen Garcia</h3>
