<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/alumnos">Alumnos</a>
  </li>
</ul>

<img src="/images/luis.jpg" class="rounded float-right" width="200">
<br>
<h1>Lopez Gonzalez Luis alberto</h1>
<h3>Número de cuenta: 312251383</h3>
<h3>Correo Electronico: luigsonic1@gmail.com</h3>
<h3>Semestre: Sexto</h3>
<br><br>
<h3>Facebook: Luis Lopez</h3>
