<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/alumnos">Alumnos</a>
  </li>
</ul>
<head>
  <div class="jumbotron text-center">
    <h2>Trujillo Zamudio Fabian Misael</h2>
    <h3>314307307</h3>
    <h4>misaeltrujillozam@gmail.com</h4>
    <h5>Sexto Semestre</h5>
    <link href="image/trujillop.jpg" class="rounded float-right" width="200">
  </div>
  <h5>Mi hobbie: Jugar ajedrez, escuchar música, tambien ir a echar trago :)</h5>
</head>
