
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/apartados">Apartados</a>
  </li>
</ul>
<head>
  <div class="jumbotron">
    <h2> Definición de sistemas CRM (Customer Relationship Management)</h2>
  </div>
</head>
<body>
  <div class="row">
    <div class="col-md-4">
      <div class="card bg-info text-white">
        <h4 class="card-title">Sistemas CRM</h4>
        <p class="card-text">La definición de CRM (Customer Relationship Management, o Gestión de las relaciones con clientes) es una aplicación que permite centralizar en una única Base de Datos todas las interacciones entre una empresa y sus clientes.</p>
        <p class="card-text">Los CRM almacena información sobre clientes actuales y potenciales y sus actividades y puntos de contacto con la empresa, que incluyen visitas a sitios web, llamadas telefónicas, correos electrónicos y más. </p>
        <p class="card-text">Estos sistemas permiten a la empresa entender mejor a sus clientes y a mejor la interacción y las relaciones que tienen con sus clientes lo cual redunda en un mayor impulso al crecimiento de la organización. </p>
        <img class="card-img-bottom" src="https://www.tresce.com/blog/wp-content/uploads/2017/01/crm-para-empresas.jpg" alt="ImagenCRM" style="width:100%">
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-info text-white">
        <h4 class="card-title">Ejemplos</h4>
        <p class="card-text">Estos son algunos de los ejemplos de estos sistemas</p>
        <h5 class="card- text">1.Salesforce</h5>
        <p class="card-text">Todo tu equipo podrá acceder a los datos corporativos necesarios para llevar a cabo dicha gestión desde cualquier dispositivo. De este modo, todo el equipo están perfectamente coordinados con sus tareas.</p>
        <h5 class="card- text">2.Base</h5>
        <p class="card-text">Este CRM pone a tu disposición gran cantidad de herramientas que te ayudarán a completar todas las tareas que tengas que realizar en tu día a día. Prácticamente todo es configurable, desde la integración de las acciones a llevar a cabo hasta los registros automáticos de las llamadas para rellenar los campos personalizables.</p>
        <h5 class="card- text">3.Microsoft Dynamics</h5>
        <p class="card-text">Dynamics permite que tu marketing, tus ventas, etc queden plasmado de la mejor manera posible en los servicios a nuestros clientes. Las herramientas de las que haremos uso con este CRM son de un carácter extremadamente profesional, por lo que rápidamente notarás que estás empleando un software muy potente que brinda muchísimas posibilidades.</p>
    </div>
   </div>
 </body>
