<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/apartados">Apartados</a>
  </li>
</ul>
<head>
  <div class="jumbotron text-center">
    <h2>Sistemas MIS</h2><h3>(Management Information System)</h3>
    <h4>Mejor Conocido por Sistema de información gerencial</h4>
  </div>
</head>
<body>
  <div class="row">
    <div class="col-sm-6">
      <table class="table table-dark text-center">
        <thead>
          <th><h2>Management Information System<h2></th>
        </thead>
      </table>
      <div class="card bg-dark text-white">
        <div class="card-head text-center">
          <h3>Ejemplos y Aplicaciones<h3>
        </div>
        <div class="card-body text-allign">
          <div class="col-sm-6">
            <div class="row">
              <h5>Aplicacion 1:</h5>
              <p> En las empresas se llegan a utilizar en el área de Recursos Humanos, para saber organizar por metodología FODA a su personal dentro de la empresa </p>
            </div>
            <div class="row">
              <h5>Aplicacion 2:</h5>
              <p> En la vida cotidiana se necesita un "MIS" para tener la administracion necesaria en recursos
            </div>
          </div>
          <div class="col-sm-6">
            <h5>Ejemplos</h5>
            <p>1. Pepito quiere organizarse para salir de fiesta pero nada mas tiene 100 pesos;</p>
            <p>tambien quiere salir con su novia, entonces decide aplicar un MIS para salir al cine con 50 pesos</p>
            <p>10 pesos para el RTP y con 40 pesos se compra su tonayan de galon<p>
          </div>
        </div>
        </div>
      </div>
      <div class="col-sm-6">
        <h3>Definición:</h3>
        <p>  Es un subsistema de los sistemas de información basados en computadoras cuyo propósito es satisfacer las necesidades de información general de todos los gerentes de la organización o de algunos departamentos.</p>
        <p> Un SIG es un recurso organizacional, que proporciona información a grupos de gerentes que tienen necesidades similares. La información abarca presente, pasado y futuro, proporcionada en forma de informes y salidas de simulaciones hechas con modelos matemáticos. Los informes y las salidas de los modelos pueden prepararse en forma tabular o gráficas y son utilizados tanto por gerentes como otros empleados para la toma de decisiones.</p>
        <p>La información describe a la organización en término de lo que ha sucedido en el pasado, lo que está sucediendo en el presente y lo que es probable que suceda  en el futuro. Generalmente se presenta en informes periódicos, informes especiales y salidas de simulaciones matemáticas. La información es utilizada para tomar decisiones que resuelven los problemas de la organización</p>
      </div>
    </div>
