<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/apartados">Apartados</a>
  </li>
</ul>
<div class="card mb-3">

  <div class="card bg-info text-white">
    <h5 class="card-title">Sistemas de información transaccionales (TPS).</h5>
    <p class="card-text">Un sistema de procesamiento de transacciones (TPS por sus siglas en inglés) es un tipo de sistema de información que recolecta, almacena, modifica y recupera toda la información generada por las transacciones producidas en una organización. Una transacción es un evento que genera o modifica los datos que se encuentran eventualmente almacenados en un sistema de información. Para que un sistema informático pueda ser considerado como un TPS, este debe superar el test ACID.

Desde un punto de vista técnico, un TPS monitoriza los programas transaccionales (un tipo especial de programas). La base de un programa transaccional está en que gestiona los datos de forma que estos deben ser siempre consistentes (por ejemplo, si se realiza un pago con una tarjeta electrónica, la cantidad de dinero de la cuenta sobre la que realiza el cargo debe disminuir en la misma cantidad que la cuenta que recibe el pago, de no ser así, ninguna de las dos cuentas se modificará), si durante el transcurso de una transacción ocurriese algún error, el TPS debe poder deshacer las operaciones realizadas hasta ese instante. Si bien este tipo de integridad es que debe presentar cualquier operación de procesamiento de transacciones por lotes, es particularmente importante para el procesamiento de transacciones on-line: si, por ejemplo, un sistema de reserva de billetes de una línea aérea es utilizado simultáneamente por varios operadores, tras encontrar un asiento vacío, los datos sobre la reserva de dicho asiento deben ser bloqueados hasta que la reserva se realice, de no ser así, otro operador podría tener la impresión de que dicho asiento está libre cuando en realidad está siendo reservado en ese mismo instante. Sin las debidas precauciones, en una transacción podría ocurrir una reserva doble. Otra función de los monitores de transacciones es la detección y resolución de interbloqueos (deadlock), y cortar transacciones para recuperar el sistema en caso de fallos masivos.
</p>
<p class="card-text"><small class="text-muted"><a href="https://www.slideshare.net/tukytutuky/tipos-de-sistemas-transaccionales" class="btn btn-dark text-white"> Referencia Bibliografica 1</a><small></p>

    <p class="card-text"><small class="text-muted"><a href="https://www.monografias.com/trabajos94/sistemas-informacion-transaccionales-bancos/sistemas-informacion-transaccionales-bancos.shtml" class="btn btn-dark text-white"> Referencia Bibliografica 2</a><small></p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <p class="card-text"></p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  <img src="https://image.slidesharecdn.com/presentacion-sistemadeprocesamientodedatos-110529222750-phpapp01/95/presentacion-sistema-de-procesamiento-de-transacciones-15-728.jpg?cb=1306708441" class="card-img-top" alt="...">
</div>
